@import "../../styles/colors";
@import "../../styles/mixins";


.header{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: $accent;
    background-image: url("/images/dots-bg.svg");
    background-size: cover;
    margin-bottom: 50px;
    @include respond-below(sm){
        margin-bottom: 20px;
        
    }
    .mainHeader{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include respond-below(sm){
            font-size: 1.5em;
        }
        .headerTitle{
            font-weight: bold;
            letter-spacing: 0.185em;
            font-size: 3em;
            line-height: 45px;
            @include respond-below(md){
                font-size: 2.5em;
                text-align: left;
            }
            @include respond-below(sm){
                font-size: 1em;
            }
            
        }
    }
    .sectionTitle{
        text-align: left;
        display: flex;
        gap: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 200;
        font-size: 1em;
        letter-spacing: 3px; 
        @include respond-below(sm){
            font-size: 0.75em;
        }
        li{
            text-align: left;
            a:hover{
                color: #E7D69B;
            }
        }
    }
 
}
