@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    text-align: center;
    height: 100%;
    color: $accent;
    p{
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: 0.5;
        
    }
}