@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin-top: 35px;
    text-align: center;
    color: $accent;
    Image{
        height: 20vw;
    }
    p{
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: 80%;
    }
}