@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin-top: 35px;
    text-align: center;
    color: $accent;
    img{
        height: 20vw;
    }
    p{
        opacity: 80%;
    }
}