@import "../../styles/colors";
@import "../../styles/mixins";

.about, .Expression, .word, .strokes{
    height: 20vw;
    max-height: 350px;
    @include respond-below(sm){
        height: 30vw;
    }
}
.divider{
    width: 100%;       
}
.logo{
    height: 1.75vw;
    max-height: 30px;
    @include respond-below(md){
        height: 2.75vw;
    }
    @include respond-below(sm){
        height: 4vw;
    }
}

.unibrow{
    width:25vw;
    @include respond-below(sm){
        width: 40vw;
    }
}