@import "../../styles/colors";
@import "../../styles/mixins";

.about, .Expression, .word, .strokes{
    height: 20vw;
    max-height: 350px;
    @include respond-below(sm){
        height: 30vw;
        min-height: 100px;
    }
}
.divider{
    width: 100%;       
}
.logo{
    width: 80px;
    @include respond-below(sm){
        width: 60px;
    }
}
.logo:hover{
    path{
        fill: $grey;
    }
}