@import "../../styles/colors";
@import "../../styles/mixins";

.about, .Expression, .word, .strokes{
    height: 20vw;

    @include respond-below(sm){
        height: 28vw;
    }
}
.divider{
    width: 100%;       
}
.logo{
    height: 1.5vw;
    @include respond-below(sm){
        height: 3vw;
    }
}