@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 auto;
    margin-top: 50px;
    line-height: 30px;
    text-align:center;
    max-width: 700px;
    opacity: 0.8; 
    @include respond-below(sm){
        margin-top: 20px;
    }
    .proseContent{
        margin: 0 auto;
        text-align: justify;
    }
    .poemContent{
        margin: 0 auto;
        text-align: left;
    }        
}
.postsNav{
    display:flex;
    justify-content: space-between;
        a:hover{
            @include respond-below(md){
                color: $accent;
            }
        }
    span{
        font-style: italic;
        text-decoration: underline;
    }
}
.date{
    text-align:left;
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.5;
}