@import "../../styles/colors";
@import "../../styles/mixins";

.layout {
    position: relative;
    margin: 0 8vw;
    min-height: 100%;
    
    @include respond-below(sm){
        margin: 0 2vw;
    }
  }