@import "../../styles/colors";
@import "../../styles/mixins";

.definition{
        text-align:left;
        text-transform:lowercase;
        opacity:80%;
        @include respond-below(sm){
            font-size: 0.45em;
        }
        .phonetics{
            opacity: 60%;
        }
    }