@import "../../styles/colors";
@import "../../styles/mixins";

.definition{
        text-align:left;
        text-transform:lowercase;
        opacity:80%;
        margin-top: -10px;
        @include respond-below(sm){
            display: none;
        }
        .phonetics{
            opacity: 60%;
        }
    }