@import "../../styles/colors";
@import "../../styles/mixins";

.footer {
   position: relative;
   bottom: 0;
    margin-top: 200px;
    color: $grey;
    width: 100%;
    text-align: center;

    p {
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: 50%;
        @include respond-below(sm){
            font-size: 0.5em;
        }
        
    }
}