@import "../../styles/colors";
@import "../../styles/mixins";

.blogposts{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-column-gap: 80px;
    grid-row-gap: 20px;
    text-align: left;
    @include respond-below(md){
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }
    .blogCard{
        list-style: none;
        a{
            .title{
                text-align: left;
                font-weight: bold;
                text-transform: uppercase;    
                letter-spacing: 3px;                
            }
            .preview{
                text-align: justify;
                opacity: 0.8;
            }
            .detail{
                opacity: 0.5;
                font-style: italic;
                font-size: 0.9em;
                span{
                    margin-left: 10px;
                }
            }
        }
        
    }

}