@import "../../styles/colors";
@import "../../styles/mixins";

.blogposts{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 80px;
    text-align: left;
    @include respond-below(md){
        grid-template-columns: auto;
        margin-top: 80px;
    }
    .blogCard{
        margin-top: -50px;
        list-style: none;
        @include respond-below(sm){
            margin-top: -65px;
        }
        a{
            .title{
                text-align: left;
                font-weight: bold;
                text-transform: uppercase;    
                letter-spacing: 3px;                
            }
            .preview{
                text-align: justify;
                opacity: 0.8;
            }
            .detail{
                opacity: 0.5;
                font-style: italic;
                font-size:0.9 em;
                span{
                    margin-left: 10px;
                }
            }
        }
        
    }

}