
html,
body {
  padding: 0;
  background-color: #2E3047;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  color: #E7D69B;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
h1{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
  color: #E7D69B;
  transition: all 0.3s all ease-in-out;
}
a:hover {
  color: #E5E5E5;
  opacity: 1;
    path{
        fill: #E5E5E5;
    }
}
