@import './colors';
@import './mixins';

.container{
    margin-top: 50px;
    text-align: center;
    line-height: 30px;
    color: $accent;
    @include respond-below(sm){
        margin-top: 20px;  
    }
}