@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -100px;
    line-height: 30px;
    text-align:center;
    opacity: 80%;
    
    max-width: 700px;
    @include respond-below(sm){
        margin-top: 20px;
    }
    hr{
        text-align:left;
        margin-left:0;
        width: 70%;
        border-width: 2px;
    }
    .content{
        p{
            
            text-align: justify;
            
            span{
                font-style: italic;
                opacity: 70%;
            }
        }
    }
}