@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -100px;
    line-height: 30px;
    text-align:center;
    @include respond-below(sm){
        margin-top: 20px;
        line-height: 15px;
    }
    .title{
        font-size: 1.5em;
        letter-spacing: 2px;
        text-transform: capitalize;
        font-weight: bold;
        @include respond-below(sm){
            font-size: 0.8em;
            text-align: center;
        }
    }
    .content{
        
        opacity: 70%;
        @include respond-below(sm){
            font-size: 0.5em;
        }
        p{
            margin: 0 auto;
            max-width: 700px;
            text-align: justify;

            span{
                font-style: italic;
                font-size: 0.75em;
                opacity: 50%;
            }
        }
    }
}