@import "../../styles/colors";
@import "../../styles/mixins";

.container{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: -100px;
    line-height: 30px;
    text-align:center;
    @include respond-below(sm){
        margin-top: 20px;
    }
    .content{
        p{
            margin: 0 auto;
            max-width: 700px;
            text-align: justify;
            opacity: 80%;
            span{
                font-style: italic;
                opacity: 70%;
            }
        }
    }
}